
body {
    background: linear-gradient(to bottom, rgb(193, 93, 233), white);
    font-family: 'Dancing Script', cursive;
}

.main {
    width: 100px;
    .main__nav{
        display: flex;
        background: rgb(141, 31, 232);
        color: white;
        border-radius: 5px;
        padding: 10px;
        width: 1300px;
        .nav__ul{
            list-style-type: none;
            padding: 0;
            margin: 0;
            display: flex;
            width: 800px;
            .nav__foto {
                height: 100px;
            }
            .nav__group{
                margin-right: 100px;
                .group__title {
                    text-decoration: none;
                    text-decoration: none;
                    color: white;
                    position: relative;
                    left: 50px;
                    top: 15px;
                }
                .group__title:hover {
                    background-color: rgb(56, 218, 255);
                    color: rgb(98, 0, 255);
                    padding: 20px;
                }
            }
        }
    }
}

.titulo {
    text-align: center;
    color: aqua;
    font-size: 50px;
    font-family: "titulo";
    font-family: 'Dancing Script', cursive;
    position: relative;
    top: 200px;
}

.tituloC {
    text-align: center;
    color: aqua;
    font-size: 50px;
    font-family: "titulo";
    font-family: 'Dancing Script', cursive;
}

.flerkxn {
    text-align: center;
    color: chartreuse;
    font-family: 'Dancing Script', cursive;
    font-size: 100px;
    position: relative;
    top: 60px;
}

.descripcionTienda{
    text-align: center;
    color: black;
    font-family: 'Dancing Script', cursive;;
    font-size: 40px;
    position: relative;
    top: 20px;
}

.contenedor{
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    position: relative;
    top: 200px;
    .tarjeta{
        background-color: $purple;
        border-radius: 15px;
        padding: 20px;
        display: flex;
        align-items: center;
        position: relative;
        margin-bottom: 50px;
        .tarjeta__img {
            width: 250px;
            height: 200px;
            margin-right: 30px;
        }
        .tarjeta__titulo {
            color: aqua;
        }
        .tarjeta__parrafo {
            color: white;
            line-height: 28px;
            font-size:1rem;
        }
        .parrafo__text {
            color: white;
        }
    }
    .tarjeta:hover {
        transform: scale(1.2);
        transition: 0.7s;
        filter: sepia(1);
    }
}

.contenedor1{
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    .tarjeta1{
        background-color: $purple;
        border-radius: 15px;
        padding: 20px;
        display: flex;
        align-items: center;
        position: relative;
        margin-bottom: 50px;
        .tarjeta1__img {
            width: 250px;
            height: 200px;
            margin-right: 30px;
        }
        .tarjeta1__titulo {
            color: aqua;
        }
        .tarjeta1__parrafo {
            color: white;
            line-height: 28px;
            font-size:1rem;
        }
        .parrafo__text {
            color: white;
        }
    }
    .tarjeta1:hover {
        transform: scale(1.2);
        transition: 0.7s;
        filter: sepia(1);
    }
}

.pantalones{
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    position: relative;
    top: 200px;
    .seccion{
        background-color: $purple;
        border-radius: 15px;
        padding: 20px;
        display: flex;
        align-items: center;
        position: relative;
        margin-bottom: 50px;
        .seccion__img {
            width: 250px;
            height: 200px;
            margin-right: 30px;
        }
        .seccion__titulo {
            color: aqua;
        }
        .seccion__parrafo {
            color: white;
            line-height: 28px;
            font-size:1rem;
        }
        .seccion__text {
            color: white;
        }
    }
    .seccion:hover {
        transform: scale(1.2);
        transition: 0.7s;
        filter: sepia(1);
    }
}

.zapatillas{
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    position: relative;
    top: 200px;
    .tercera{
        background-color: $purple;
        border-radius: 15px;
        padding: 20px;
        display: flex;
        align-items: center;
        position: relative;
        margin-bottom: 50px;
        .tercera__img {
            width: 250px;
            height: 200px;
            margin-right: 30px;
        }
        .tercera__titulo {
            color: aqua;
        }
        .tercera__parrafo {
            color: white;
            line-height: 28px;
            font-size:1rem;
        }
        .tercera__text {
            color: white;
        }
    }
    .tercera:hover {
        transform: scale(1.2);
        transition: 0.7s;
        filter: sepia(1);
    }
}

.formulario {
    width: 100px;
    position: relative;
    left: 500px;
}

.zapatilla{
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    .cuarta{
        background-color: $purple;
        border-radius: 15px;
        padding: 20px;
        display: flex;
        align-items: center;
        position: relative;
        margin-bottom: 50px;
        .cuarta__img {
            width: 250px;
            height: 200px;
            margin-right: 30px;
        }
        .cuarta__titulo {
            color: aqua;
        }
        .cuarta__parrafo {
            color: white;
            line-height: 28px;
            font-size:1rem;
        }
        .cuarta__text {
            color: white;
        }
    }
    .cuarta:hover {
        transform: scale(1.2);
        transition: 0.7s;
        filter: sepia(1);
    }
}

.pantalon{
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    .quinta{
        background-color: $purple;
        border-radius: 15px;
        padding: 20px;
        display: flex;
        align-items: center;
        position: relative;
        margin-bottom: 50px;
        .quinta__img {
            width: 250px;
            height: 200px;
            margin-right: 30px;
        }
        .quinta__titulo {
            color: aqua;
        }
        .quinta__parrafo {
            color: white;
            line-height: 28px;
            font-size:1rem;
        }
        .quinta__text {
            color: white;
        }
    }
    .quinta:hover {
        transform: scale(1.2);
        transition: 0.7s;
        filter: sepia(1);
    }
}
.guiaCamiseta {
    max-width: 500px;
    width: 90%;
    margin: 0 auto;
    .guia {
        background-color: #cccccc;
        border-radius: 15px;
        padding: 20px;
        align-items: center;
        position: relative;
        margin-bottom: 50px;
        .guia__img {
            width: 450px;
            height: auto;
            margin-right: 30px;
        }
    .guia__titulo {
        text-align: center;
        }
    .guia__parrafo {
        text-align: center;
        }
    }
}

.footer {
    height: 200pxpx;
    width: 100%;
    background-color: gray;
    position: relative;
    top: 200px;
    p{
        width: 100%;
        text-align: center;
    }
    .redes {
        margin: auto;
        display: flex;
        img{
            margin: auto;
            display: block;
            height: 50px;
        }
    }
}

.footer1 {
    height: 200pxpx;
    width: 100%;
    background-color: gray;
    p{
        width: 100%;
        text-align: center;
    }
    .redes1 {
        margin: auto;
        display: flex;
        img{
            margin: auto;
            display: block;
            height: 50px;
        }
    }
}

.error{
    text-align: center;
    font-size: 100px;
}

.pError{
    text-align: center;
    color: red;
    font-size: 50px;
}
