$black: hsl(0, 2%, 19%);
$purple: hsl(293, 78%, 47%);

$f-family: "nunito", sans-serif;
$f-small: 0.875rem;
$f-large: 1.275rem;

$spacing: 1rem;
$spacing-lg: 2rem;
$spacing-sm: .4rem;

$container-xs: 100%;
$container-sm: 540px;
$container-md: 720px;
$container-lg: 960px;
$container-xl: 1140px;
$container-xxl: 1320px;

$ancho: 200px;
$largo: 300px;